*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F2F4;
}

.container{
    width: 90%;
    margin: auto;
}

li,
li a{
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Inter', sans-serif;
}

.title{
   font-weight: 700;
   font-size: 56px;
   line-height: 60px;
   color: #121014;
}

.subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color:#0E677C
}

.description{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color:#686868;
}

/* RWD */

/* /RWD */



/* Header */

.header{
    background-color: #0E677C;
    padding: 8px 0px;
}

.navigation-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.languages-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.languages-nav ul{
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.language a{
    color: #fff;
    opacity: 30%;
}

.language a[active]{
    opacity: 100%;
}

.social-medias-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
/* /Header */

/* Subheader */

.subheader{
    background-color: #fff;
}

.subheader-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo{
    width: 279px;
}

.menu-nav ul{
display: flex;
flex-direction: row;
align-items: center;
gap: 36px;
}

.menu-item a{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #121014;
}

.contact-box{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.phone-number{
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #121014;
}

.contact-us-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.contact-us-txt{
    font-weight: 500;
    font-size: 14px;
    color: #121014;
}

.animating-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #44FF00;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: o;
    }
}

.burger{
    display: none;
}
/* /Subheader */

/* Intro section */

.intro-section{
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    gap: 64px;
}

.intro-section-info{
    display: flex;
    justify-content: space-between;
}

.intro-title{
    width: 474px;
    font-size: 68px;
    font-weight: bold;
    font-family: "inter";
}

.intro-description,
.intro-description-mobile{
    width: 50%;
    font-size: 20px;
    color: #121014;
    align-self: self-end;
    line-height: 28px;
}

.intro-description-mobile{
    display: none;
}

.images-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.image-box-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.box{
    height: 187px;
    flex-grow: 1;
    border-radius: 24px;
    background-color: #4c4b4d;
}
.about-us{
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.about-us-info{
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;                    
}

.second-images{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}