*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Inter';
    src: url('/Fonts/Inter/Inter-Medium.ttf');
}

body{
    background-color: #F0F2F4;
}

.container{
    width: 80%;
    margin: auto;
}

.title{
    font-family: "Inter";
    font-weight: 700;
    font-size: 3.5rem;
    color: #121014;
}

.description{
    font-family: 'Inter';
    font-weight: 500;
    line-height: 23px;
    font-size: 1rem;
    color: #686868;
}

.subtitle{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #0E677C;
}

/* Header */
.header{
    background-color: #0E677C;
    width: 100%;
    height: 40px;
}

nav.header-nav,
.header,
nav.subheader-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.languages,
ul.social-medias{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

li.language a[active]{
    color: white;
    opacity: 100%;
    font-weight: 600;
}

li.language a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    opacity: 30%;
    line-height: 18px;
    font-family: 'Inter';
}

li{
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
}

/* Subheader */

.subheader{
    height: 96px;
    padding: 0;
    background-color: white;
    display: flex;
}

ul.list-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

li.list-item a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-weight: 500;
}

li.list-item a[active]{
    color: #0E677C;
}

.contact-box h3{
    font-family: 'Inter';
    font-size: 1rem;
}

.contact-box div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.green-dot{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #0E677C;
}


/* First Section */
.modern-s-h{
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    gap: 64px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info h1{
    width: 474px;
    font-size: 68px;
    font-weight: bold;
    font-family: "inter";
}

.info p{
    width: 50%;
    font-size: 20px;
    color: #121014;
    align-self: self-end;
    line-height: 28px;
}

.images-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.image-box-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.box{
    height: 187px;
    flex-grow: 1;
    border-radius: 24px;
    background-color: #4c4b4d;
}

.about-us{
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.about-us-info{
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-images{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Contact us */

.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}